.heading{
    text-align: center;
    font-size: 5vw;
    text-transform: uppercase;
    color: var(--white);
    -webkit-text-stroke: 0.2rem var(--black);
    margin: 1rem 0 6rem 0;
}

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.services .box-container .box{
    padding: 3rem;
    border: var(--border);
    background: var(--white);
    text-align: center;
    transition: 0.15s ease-out;
}

.services .box-container .box img{
    height: 10rem;
    margin-bottom: 1rem;
}

.services .box-container .box h3{
    font-size: 2.5rem;
}

.services .box-container .box p{
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 2rem;
}

.services .box-container .box:hover{
    background: var(--black);
}

.services .box-container .box:hover h3, .services .box-container .box:hover p{
    color:var(--white);
}

.services .box-container .box:hover .btn:hover{
    background: var(--white);
    color: var(--black);
}

.btn{
    display: block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--yellow);
    border: var(--border);
    color: var(--black);
    font-size: 2rem;
    font-weight: 400;
    transition: 0.15s ease-in;
}

.btn:hover{
    background: var(--black);
    color:var(--white);
}
