.home{
    margin-top: 1.5rem;
    position: relative;
    padding-bottom: 32.5rem;
}

.home h3{
    text-align: center;
    font-size: 6vw;
    text-transform: uppercase;
}

.home .home-text{
    -webkit-text-stroke: 0.2rem var(--black);
    color:var(--white);
    position:relative;
    z-index: 10;

}

.home .home-text:hover{
    text-shadow: var(--box-shadow);
}

.home .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30rem;
    width: 100%;
    background: url(../../assets/wave.png) repeat-x;
    background-size: 250rem 30rem;
    animation: wave 10s linear infinite;
}

.home .wave.wave-2{
    opacity: 0.5;
    animation-delay: 0.2s;
    animation-direction: reverse;
}

.home .wave.wave-3{
    opacity: 0.7;
    animation-duration: 5s;
}
